{% extends 'base.html.twig' %}

{% block title %}Liste des Franchisés{% endblock %}
{% block body %}
	<h1>Liste des Franchisés</h1>

	<div class="input-control-search d-flex justify-content-center">
    <input type="text" id="searchbar" class="form-control" placeholder="Rechercher" aria-label="Search">
    <button class="btn" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

	<div class="container">
		{% for franchise in franchises %}
			<div class="card">
				{% if franchise.name %}
					<h5 class="card-title">{{ franchise.name }}</h5>
				{% endif %}
				<a href="{{ path('app_admin_list_structure', {'id': franchise.id}) }}">Voir la/les structure(s)</a>
				<div class="pra">
					<a href="{{ path('app_admin_edit_franchise', {'id': franchise.id}) }}" id="btn" class="button">Modifier</a>
					<a href="{{ path('app_admin_delete_franchise', {'id': franchise.id}) }}" id="btn" class="button">Suprimer</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
