{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<section class="container">
		{{ form_start(form2) }}
		{{ form_rest(form2) }}
		<div class="input-group mt-2">
			<input id="btn" class="btn btn-primary mt-2" type="submit" value="Valider">
		</div>
	</section>

{% endblock %}